@import 'variables.lessimport';

.blk-cntr {
  //must set width somewhere else;
  margin-right:auto;
  margin-left:auto;
}
button {            /*Green buttons*/ 
  -webkit-border-radius:15px;
     -moz-border-radius:15px;
          border-radius:15px;
  -webkit-box-shadow:inset 0px 9px 9px 0px #d0e88e;
     -moz-box-shadow:inset 0px 9px 9px 0px #d0e88e;
          box-shadow:inset 0px 9px 9px 0px #d0e88e;
  background:@coreGreen;
  border: 3px solid #93cd00;
  border-bottom-color: #6f8531;
  color:#eaeced;
  text-shadow: 0px -1px #6f8531;  
  &:hover{
    color:#eaeced;
  }
  &:link, &:visited {
    text-decoration:none;
    color: #ccd9e0;
  }
  &:hover{
    text-decoration:none;
    color: #eaeced;
    background-color: darken(@coreGreen, 5%);
    -webkit-box-shadow:inset 0px 9px 9px 0px darken(#d0e88e, 5%);
       -moz-box-shadow:inset 0px 9px 9px 0px darken(#d0e88e, 5%);
            box-shadow:inset 0px 9px 9px 0px darken(#d0e88e, 5%);
  }
  &:active{
    text-decoration:none;
    color: #eaeced;
    -webkit-box-shadow: inset 0px 9px 9px @shadow;  
       -moz-box-shadow: inset 0px 9px 9px @shadow;
            box-shadow: inner 0px 9px 9px @shadow;
    background-color: darken(@coreGreen, 5%);     
  }
  &:disabled{
    text-decoration:none;
    color: darken(#eaeced, 10%);
    background-color: darken(@coreGreen, 10%);
    -webkit-box-shadow:inset 0px 9px 9px 0px darken(#d0e88e, 5%);
       -moz-box-shadow:inset 0px 9px 9px 0px darken(#d0e88e, 5%);
            box-shadow:inset 0px 9px 9px 0px darken(#d0e88e, 5%);
    
  }
}
