@import 'variables.lessimport';

.topic-tree {
  width:100%;
  height:70%;
}

.w{
  height:100%;
  float:left;
}
.w25 {
  .w;
  width:25%;
}
.w33{
  .w;
  width:33%;
}
.w20{
  .w;
  width:20%;
}

.tree-btn {
  height:100%;
  width:100%;
}
.lesson-btn{
  .tree-btn;
}

.half {
  height:50%;
}
.third {
  height:33%;
}

#learn-arrow{
  width:100%;
  height: 40px;
  text-align:center;
}
